<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
    <title>Form | BootCamp</title>
</head>
<body>
    <%- include("./partials/navbar")%>
    <h1 class="w3-center"> Node Bootcamp Form</h1> 
    <div class="container">
        <form method='GET' action="/add-bootcamp">
        <div class="row">
          <div class="col-25">
            <label for="fname">First Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="firstname" name="firstname" placeholder="Your name..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Last Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="lastname" name="lastname" placeholder="Your last name..">
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="email">Email</label>
            </div>
            <div class="col-75">
              <input type="text" id="email" name="email" placeholder="Your email..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="mobile">Mobile</label>
            </div>
            <div class="col-75">
              <input type="text" id="mobile" name="mobile" placeholder="Your mobile number..">
            </div>
          </div>   
        <div class="row">
          <div class="col-25">
            <label for="message">Message</label>
          </div>
          <div class="col-75">
            <textarea id="message" name="message" placeholder="Why You Want To join This bootcamp..." style="height:200px"></textarea>
          </div>
        </div>
        <div class="row">
          <input type="submit" value="Submit">
        </div>
        </form>
      </div>
      </div>
</body>
</html>